NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
NEXT_PUBLIC_APP_URL=https://arf.erkanerdem.net

DEEPSEEK_API_KEY=
GEMINI_API_KEY=
FIREBASE_SERVICE_ACCOUNT=
ALLOW_UNVERIFIED_AUTH=false
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
